.parallax { 
    /* The image used */
    background-image: url("http://wallpapercave.com/wp/KJsc8Bj.jpg");

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    font-size: 36px;
    text-align: center;
    background-color:cadetblue;
}

html{
    background-color: black;
    
}

.parallax2{
    background-image: url(jedlightsaber.jpg);  
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txtNr1{
    font-size: 30px;
}

.txtNr1H1{
    font-size: 50px;
    text-shadow: 2px 1px white;
}

.txtNr2H1{
    font-size: 50px;
    text-shadow: 2px 1px white;
}

.txtNr2{
    font-size: 30px;
}
